.button {
    min-width: 120px;
    width: 10%;
    height: 3em;
    background-color: #8AF;
    border: 1px solid black;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
