.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-headers {
    margin-left: 180px;
    width: 78%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    vertical-align: middle;
}
